[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-debug-toolbar = "*"
django-admin-sortable2 = "*"
tox = "*"
drf-yasg = "*"
django-phonenumber-field = "*"
django-phonenumbers = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-robots = "*"
django = "*"
django-ckeditor = "*"
django-solo = "*"
drf-spectacular = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.0"
